.canvas-container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-family: 'Arcade';
}

@font-face {
    font-family: 'Arcade';
    src: url('assets/Arcade.ttf');
}